# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

front/.idea/
front/dist/
front/distH5/
front/node_modules/
front/config/
front/configH5/
front/build/
front/buildH5/
front/.project
front/package.json
front/package-lock.json

