# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/.idea/
/build/
/buildH5/
/config/
/configH5/
/dist/
/distH5/
/node_modules/
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.postcssrc.js
.project
index.html
package.json
package-lock.json
project.config
README.md
